<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Homepage | Inventaris Sarpra MOKLET</title>
  </head>

  <body>
    <div class="top-box top-box-a bg-success text-light">
      <h4>Terlaris</h4>
      <p class="number"><%= barang.nama_barang %></p>
      <a class="ui inverted button" href="/inventaris">
        Lihat Selengkapnya
      </a>
    </div>
    <div class="top-box top-box-b bg-primary text-light">
      <h4>Info lebih lanjut,</h4>
      <h4>lihat Inventaris!</h4>
      <a class="ui inverted button" href="/inventaris">
        Lihat Selengkapnya
      </a>
    </div>
  </body>
</html>
