<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tim | Inventaris Sarpra MOKLET</title>
    <link rel="stylesheet" href="css/navStyle.css" />
    <link rel="stylesheet" href="css/timStyle.css" />
    <link rel="stylesheet" href="css/semantic.css" />
    <link rel="stylesheet" href="css/semantic.min.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
  </head>
  <body>
    <% include navbar %>
    <div class="ui container">
      <h1 class="text-center mb-3">Meet Our Team</h1>
      <br />
      <div class="ui link centered cards">
        <div class="card">
          <div class="image">
            <img src="img/hasimy.jpg" alt="" />
          </div>
          <div class="content">
            <div class="header">Ahmad Syeh Hasimy MD</div>
            <div class="meta">
              <a>Back End Developer</a>
            </div>
            <div class="description">Siswa kelas X RPL 1 (TEFA)</div>
          </div>
        </div>

        <div class="card">
          <div class="image">
            <img src="img/hammam.jpg" />
          </div>
          <div class="content">
            <div class="header">Hammam Al-Hakim</div>
            <div class="meta">
              <a>Front End Developer</a>
            </div>
            <div class="description">Siswa kelas X RPL 1 (TEFA)</div>
          </div>
        </div>
      </div>
    </div>
    <br />
    <br />
  </body>
</html>
