body {
  background: url(../_img/bg-nav.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

a.navbar-brand {
  font-size: 2em !important;
}

.navbar-nav .nav-item {
  font-size: 1.2em !important;
}

.logout-btn {
  display: flex !important;
}

.logout-btn p {
  font-size: 1em;
  margin-right: 10px;
}

.btn-primary {
  border-radius: 10px;
}

.nav-item {
  line-height: 40px;
}

.nav-item p {
  transform: translateY(8px);
}
