* {
  scroll-behavior: smooth;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content.size1 {
  min-width: 450px;
  max-width: 600px;
}

.content.size2 {
  width: 80%;
}

.judul {
  font-size: 3em;
}

.deskripsi {
  font-size: 1.3em;
  font-weight: bold;
}

/* Sec 1 */

.sec1 {
  background: url(../img/papyrus-dark.png);
}

.sec1 .content h1,
.sec1 .content h2,
.sec1 .content p,
.sec1 .content a.scroll {
  color: #fff;
}

.sec1 .content h1,
.sec1 .content h2,
.sec1 .content p,
.sec1 .content a.scroll {
  text-align: center !important;
}

.sec1 .content h1 {
  font-size: 4em;
}

.sec1 .content h2 {
  font-size: 2em;
  margin-bottom: 1.5em;
}

.sec1 .content .tombol {
  display: flex;
  justify-content: center;
}

.sec1 .content p {
  margin-top: 4em;
  margin-bottom: 2em;
  font-size: 1.3em;
}

.sec1 .content a.scroll {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: auto;
  display: block;
  font-size: 2em;
  animation: move 4s infinite;
}

@keyframes move {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.sec1 .content a.scroll i::before {
  width: 45px;
  height: 45px;
  line-height: 45px;
  display: block;
  border-radius: 50%;
  border: 3px solid #fff;
}

.sec1 .content a.scroll:hover {
  color: #6dffff;
}

.sec1 .content a.scroll:hover i::before {
  border-color: #6dffff;
}

/* Sec 2 */

.sec2 {
  background: url(../img/what-the-hex.png);
}

/* Sec 3 */

.sec3 {
  background: url(../img/spiration-dark.png);
}

.sec3 .content h1.judul,
.sec3 .content p.deskripsi {
  color: #fff;
}

@media screen and (max-width: 767px) {
  .sec3 {
    height: 135vh;
  }
}
